<a href="https://colab.research.google.com/github/sandeep0097-97/Pythoninterview-question/blob/main/numberpattern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
for i in range(1,5):
  for j in range(1,5):
    if j<=i:
      print(i,end='')
    else:
      print(" ",end= '')
  print()

1
22
333
4444

In [3]:
for i in range(1,5):
  for j in range(1,5):
    if j<=i:
      print(j,end='')
    else:
      print(" ",end= '')
  print()

1
12
123
1234

In [4]:
for i in range(1,5):
  for j in range(1,5):
    if j<=5-i:
      print(i,end='')
    else:
      print(" ",end= '')
  print()

1111
222
33
4

In [7]:
for i in range(1,5):
  for j in range(1,5):
    if j<=5-i:
      print(j,end='')
    else:
      print(" ",end= '')
  print()

1234
123
12
1

In [8]:
for i in range(1,5):
  for j in range(1,5):
    if j<=5-i:
      print(5,end='')
    else:
      print(" ",end= '')
  print()

5555
555
55
5

In [9]:
for i in range(1,5):
  k=0
  for j in range(1,5):
    if j<=5-i:
      print(k,end='')
      k+=1
    else:
      print(" ",end= '')
  print()

0123
012
01
0

In [12]:
for i in range(1,5):

  for j in range(1,5):
    if j<=i:
      print(i*2-1,end='')

    else:
      print(" ",end= '')
  print()

1
33
555
7777

In [16]:
for i in range(1,6):
  for j in range(1,6):
    if j<=6-i:
      print(6-i,end='')
    else:
      print(" ",end= '')
  print()

55555
4444
333
22
1

In [20]:
for i in range(1,6):
  for j in range(1,6):
    if j<=i:
      print(j,end='')
      j-=1
    else:
      print(" ",end= '')
  print()

1
12
123
1234
12345

In [21]:
for i in range(1, 6):
    for j in range(1, 6):
        if j <= i:
            print(i - j + 1, end='')
        else:
            print(" ", end='')
    print()

1
21
321
4321
54321

In [27]:
for i in range(1, 6):
    for j in range(1, 6):
        if j<=6-i:
            print(j, end='')
        else:
            print(" ", end='')
    print()

12345
1234
123
12
1

In [29]:
for i in range(1, 6):
    for j in range(1, 6):
        if j <= 6 - i:
            print(6 - j, end='')
        else:
            print(" ", end='')
    print()

54321
5432
543
54
5

In [31]:
for i in range(1, 6):
    count = i * (i - 1) // 2 + 1
    for j in range(1, 6):
        if j <= i:
            print(count, end=' ')
            count += 1
        else:
            print(" ", end='')
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [33]:
for i in range(1, 6):
    # Print leading spaces
    for j in range(1, 6 - i):
        print(" ", end=' ')

    # Print numbers in ascending order
    for k in range(1, i + 1):
        print(k, end=' ')

    # Move to the next line after printing each row
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [35]:
for i in range(1, 5):
    for j in range(1, 5):
        if j <= 5:
            print("*", end=' ')

    print()

* * * *
* * * *
* * * *
* * * *