<a href="https://colab.research.google.com/github/sandeep0097-97/Pythoninterview-question/blob/main/python_easy_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Integers, Floats and Booleans

Question 1: Integer Operations
Write a Python program that takes two integers as input from the user and performs the following operations:

Addition
Subtraction
Multiplication
Division (floor division and normal division)

In [1]:
# Solution 1
num1 = int(input("Enter the first integer: "))
num2 = int(input("Enter the second integer: "))

addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2

print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)

Enter the first integer: 3
Enter the second integer: 5
Addition: 8
Subtraction: -2
Multiplication: 15
Division: 0.6
Floor Division: 0

Question 2: Float Operations
Write a Python program that takes two floating-point numbers as input from the user and calculates their sum, difference, product, and quotient.

In [2]:
# Solution 2
num1 = float(input("Enter the first float: "))
num2 = float(input("Enter the second float: "))

sum_result = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum_result)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Enter the first float: 4.5
Enter the second float: 3.6
Sum: 8.1
Difference: 0.8999999999999999
Product: 16.2
Quotient: 1.25

Question 3: Boolean Operations
Write a Python program that takes two boolean values as input from the user and performs boolean operations such as AND, OR, and NOT.

In [3]:
# Solution 3
bool1 = bool(input("Enter the first boolean value (True or False): "))
bool2 = bool(input("Enter the second boolean value (True or False): "))

and_result = bool1 and bool2
or_result = bool1 or bool2
not_result1 = not bool1
not_result2 = not bool2

print("AND Result:", and_result)
print("OR Result:", or_result)
print("NOT Result for bool1:", not_result1)
print("NOT Result for bool2:", not_result2)

Enter the first boolean value (True or False): 4
Enter the second boolean value (True or False): 5
AND Result: True
OR Result: True
NOT Result for bool1: False
NOT Result for bool2: False

Introduction to Strings

Question 1: String Concatenation
Write a Python program that takes two strings as input from the user and concatenates them.

In [4]:
# Solution 1
str1 = input("Enter the first string: ")
str2 = input("Enter the second string: ")

concatenated_str = str1 + str2

print("Concatenated String:", concatenated_str)

Enter the first string: sandeep
Enter the second string: singh
Concatenated String: sandeepsingh

Question 2: String Length
Write a Python program that takes a string as input from the user and calculates and prints its length.

In [5]:
# Solution 2
user_input = input("Enter a string: ")
length_of_string = len(user_input)

print("Length of the String:", length_of_string)

Enter a string: sandeep
Length of the String: 7

Question 3: String Reversal
Write a Python program that takes a string as input from the user and prints its reverse.

In [6]:
# Solution 3
user_input = input("Enter a string: ")
reversed_string = user_input[::-1]

print("Reversed String:", reversed_string)

Enter a string: sand
Reversed String: dnas

Question 4: Count Vowels
Write a Python program that takes a string as input from the user and counts the number of vowels (both uppercase and lowercase) in the string.

In [7]:
# Solution 4
user_input = input("Enter a string: ")
vowel_count = sum(1 for char in user_input if char.lower() in "aeiou")

print("Number of Vowels:", vowel_count)

Enter a string: sandeep
Number of Vowels: 3

Question 5: Palindrome Check
Write a Python program that takes a string as input from the user and checks if it is a palindrome.

In [8]:
# Solution 5
user_input = input("Enter a string: ")
is_palindrome = user_input == user_input[::-1]

if is_palindrome:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter a string: sandeep
The string is not a palindrome.

Introduction to Lists

Question 1: List Operations
Write a Python program that demonstrates basic list operations:

Create a list with elements of different data types.
Access and print specific elements of the list.
Modify elements in the list.
Append a new element to the list.
Find the length of the list.

In [9]:
# Solution 1
my_list = [1, "hello", 3.14, True]

# Access and print specific elements
print("Element at index 1:", my_list[1])
print("Element at index 2:", my_list[2])

# Modify elements
my_list[0] = 42
print("Modified list:", my_list)

# Append a new element
my_list.append("world")
print("List after appending:", my_list)

# Find the length of the list
list_length = len(my_list)
print("Length of the list:", list_length)

Element at index 1: hello
Element at index 2: 3.14
Modified list: [42, 'hello', 3.14, True]
List after appending: [42, 'hello', 3.14, True, 'world']
Length of the list: 5

Question 2: List Sum
Write a Python program that takes a list of numbers as input from the user and calculates their sum.

In [10]:
# Solution 2
num_list = [float(x) for x in input("Enter a list of numbers separated by space: ").split()]

sum_of_numbers = sum(num_list)
print("Sum of the numbers:", sum_of_numbers)

Enter a list of numbers separated by space: 5 7 8
Sum of the numbers: 20.0

Question 3: List Comprehension
Write a Python program that uses list comprehension to create a new list containing the squares of the numbers from 1 to 10.

In [11]:
# Solution 3
squares_list = [x**2 for x in range(1, 11)]
print("List of squares:", squares_list)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Question 4: List Sorting
Write a Python program that takes a list of words as input from the user and sorts them alphabetically.

In [12]:
# Solution 4
words_list = input("Enter a list of words separated by space: ").split()
sorted_words = sorted(words_list)

print("Sorted words:", sorted_words)

Enter a list of words separated by space: amar benstroke car dog
Sorted words: ['amar', 'benstroke', 'car', 'dog']

Question 5: List Reverse
Write a Python program that takes a list of integers as input from the user and prints the list in reverse order.

In [14]:
# Solution 5
int_list = [int(x) for x in input("Enter a list of integers separated by space: ").split()]
reversed_list = reversed(int_list)

print("Reversed list:", list(reversed_list))

Enter a list of integers separated by space: 1 2 3 3 3 3 4 4 5 56
Reversed list: [56, 5, 4, 4, 3, 3, 3, 3, 2, 1]

Tuples, Sets and Dictionaries

Question 1: Tuple Operations
Write a Python program that demonstrates basic tuple operations:

Create a tuple with elements of different data types.
Access and print specific elements of the tuple.
Concatenate two tuples.

In [15]:
# Solution 1
my_tuple = (1, "hello", 3.14, True)

# Access and print specific elements
print("Element at index 1:", my_tuple[1])
print("Element at index 2:", my_tuple[2])

# Concatenate two tuples
another_tuple = ("world", 42)
concatenated_tuple = my_tuple + another_tuple
print("Concatenated tuple:", concatenated_tuple)

Element at index 1: hello
Element at index 2: 3.14
Concatenated tuple: (1, 'hello', 3.14, True, 'world', 42)

Sets:
Question 2: Set Operations
Write a Python program that demonstrates basic set operations:

Create two sets with different elements.
Find the union, intersection, and difference of the sets.
Check if one set is a subset of another.

In [16]:
# Solution 2
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Union, intersection, and difference of sets
union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set = set1.difference(set2)

print("Union of sets:", union_set)
print("Intersection of sets:", intersection_set)
print("Difference of sets:", difference_set)

# Check if one set is a subset of another
is_subset = set1.issubset(set2)
print("Is set1 a subset of set2?", is_subset)

Union of sets: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of sets: {4, 5}
Difference of sets: {1, 2, 3}
Is set1 a subset of set2? False

Question 3: Dictionary Operations
Write a Python program that demonstrates basic dictionary operations:

Create a dictionary with key-value pairs.
Access and print specific values using keys.
Modify values in the dictionary.
Add a new key-value pair to the dictionary.

In [17]:
# Solution 3
my_dict = {"name": "John", "age": 25, "city": "New York"}

# Access and print specific values
print("Name:", my_dict["name"])
print("Age:", my_dict["age"])

# Modify values in the dictionary
my_dict["age"] = 26
print("Modified dictionary:", my_dict)

# Add a new key-value pair
my_dict["occupation"] = "Engineer"
print("Dictionary after adding a new key-value pair:", my_dict)

Name: John
Age: 25
Modified dictionary: {'name': 'John', 'age': 26, 'city': 'New York'}
Dictionary after adding a new key-value pair: {'name': 'John', 'age': 26, 'city': 'New York', 'occupation': 'Engineer'}

Statements, Indentation and Conditionals

Question 1: Print Statement
Write a Python program that prints your name.

In [18]:
# Solution 1
print("My name is John Doe")

My name is John Doe

Question 2: Indentation
Write a Python program that checks if a number is positive or negative and prints the result.

In [19]:
# Solution 2
number = int(input("Enter a number: "))

if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 4
The number is positive.

Question 3: Even or Odd
Write a Python program that checks if a number is even or odd and prints the result.

In [20]:
# Solution 3
number = int(input("Enter a number: "))

if number % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

Enter a number: 5
The number is odd.

Question 4: Grade Classification
Write a Python program that takes a student's score as input and classifies it into different grade categories (A, B, C, D, F).

In [21]:
# Solution 4
score = float(input("Enter the student's score: "))

if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
elif score >= 60:
    print("Grade: D")
else:
    print("Grade: F")

Enter the student's score: 77
Grade: C

Question 5: Leap Year Check
Write a Python program that checks if a year is a leap year or not

In [22]:
# Solution 5
year = int(input("Enter a year: "))

if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print("Leap year")
        else:
            print("Not a leap year")
    else:
        print("Leap year")
else:
    print("Not a leap year")

Enter a year: 2000
Leap year

Loops and Iterations

Question 1: Print Numbers
Write a Python program that uses a for loop to print numbers from 1 to 5.

In [23]:
# Solution 1
for i in range(1, 6):
    print(i)

1
2
3
4
5

Question 2: Sum of Numbers
Write a Python program that uses a while loop to calculate the sum of numbers from 1 to 10.

In [24]:
# Solution 2
sum_of_numbers = 0
counter = 1

while counter <= 10:
    sum_of_numbers += counter
    counter += 1

print("Sum of numbers:", sum_of_numbers)

Sum of numbers: 55

Question 3: Print Characters
Write a Python program that uses a for loop to print each character of a given string.

In [25]:
# Solution 3
input_string = input("Enter a string: ")

for char in input_string:
    print(char)

Enter a string: sandeep
s
a
n
d
e
e
p

Question 4: Multiplication Table
Write a Python program that uses nested for loops to print the multiplication table from 1 to 5.

In [26]:
# Solution 4
for i in range(1, 6):
    for j in range(1, 11):
        print(i, "*", j, "=", i * j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Question 5: Factorial Calculation
Write a Python program that uses a for loop and the break statement to calculate the factorial of a given number.

In [27]:
# Solution 5
number = int(input("Enter a number: "))
factorial = 1

for i in range(1, number + 1):
    factorial *= i
    if i == 5:  # Break the loop after calculating factorial up to 5
        break

print("Factorial:", factorial)

Enter a number: 4
Factorial: 24

List Comprehension

Question 1: Squares of Numbers
Write a Python program using list comprehension to create a list containing the squares of the numbers from 1 to 10.

In [28]:
# Solution 1
squares_list = [x**2 for x in range(1, 11)]
print("List of squares:", squares_list)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Question 2: Even Numbers
Write a Python program using list comprehension to create a list of even numbers from 1 to 20.

In [29]:
# Solution 2
even_numbers_list = [x for x in range(1, 21) if x % 2 == 0]
print("List of even numbers:", even_numbers_list)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Question 3: String Lengths
Write a Python program using list comprehension to create a list containing the lengths of strings in a given list

In [30]:
# Solution 3
word_list = ["apple", "banana", "cherry", "date"]
lengths_list = [len(word) for word in word_list]
print("List of string lengths:", lengths_list)

List of string lengths: [5, 6, 6, 4]

Question 4: Vowel Count
Write a Python program using list comprehension to count the number of vowels in a given string.

In [31]:
# Solution 4
input_string = input("Enter a string: ")
vowel_count = sum(1 for char in input_string if char.lower() in "aeiou")
print("Number of vowels:", vowel_count)

Enter a string: sandeepande
Number of vowels: 5

Question 5: Extract Uppercase Letters
Write a Python program using list comprehension to create a list containing only the uppercase letters from a given string.

In [33]:
# Solution 5
input_string = input("Enter a string: ")
uppercase_letters = [char for char in input_string if char.isupper()]
print("Uppercase letters:", uppercase_letters)

Enter a string: SAndeep
Uppercase letters: ['S', 'A']

Functions and Methods

Question 1: Sum of Two Numbers
Write a Python program that defines a function to calculate the sum of two numbers and then calls the function with user-input values.

In [34]:
# Solution 1
def add_numbers(a, b):
    return a + b

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
result = add_numbers(num1, num2)
print("Sum of numbers:", result)

Enter the first number: 33
Enter the second number: 4
Sum of numbers: 37.0

Question 2: Factorial Calculation
Write a Python program that defines a function to calculate the factorial of a given number and then calls the function.

In [35]:
# Solution 2
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n-1)

number = int(input("Enter a number: "))
result = factorial(number)
print("Factorial:", result)

Enter a number: 5
Factorial: 120

Question 3: String Reversal
Write a Python program that defines a function to reverse a string using a method and then calls the function.

In [36]:
# Solution 3
def reverse_string(input_str):
    return input_str[::-1]

user_input = input("Enter a string: ")
result = reverse_string(user_input)
print("Reversed String:", result)

Enter a string: sandeep
Reversed String: peednas

Question 4: List Sorting
Write a Python program that defines a function to sort a list using a method and then calls the function.

In [37]:
# Solution 4
def sort_list(input_list):
    return sorted(input_list)

numbers = [3, 1, 4, 1, 5, 9, 2]
result = sort_list(numbers)
print("Sorted List:", result)

Sorted List: [1, 1, 2, 3, 4, 5, 9]

Question 5: Dictionary Update
Write a Python program that defines a function to update a dictionary using a method and then calls the function.

In [38]:
# Solution 5
def update_dictionary(original_dict, new_values):
    original_dict.update(new_values)
    return original_dict

my_dict = {"name": "Alice", "age": 25}
new_values = {"city": "Wonderland", "gender": "Female"}
result = update_dictionary(my_dict, new_values)
print("Updated Dictionary:", result)

Updated Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Wonderland', 'gender': 'Female'}

Intersection of Lists

Question: Common Elements
Write a Python program that takes two lists as input from the user and finds and prints the common elements (intersection) between them

In [39]:
# Solution
def find_intersection(list1, list2):
    return list(set(list1) & set(list2))

# Input lists from the user
list1 = input("Enter elements of the first list separated by space: ").split()
list2 = input("Enter elements of the second list separated by space: ").split()

# Find and print the intersection of the two lists
intersection_result = find_intersection(list1, list2)
print("Common Elements:", intersection_result)

Enter elements of the first list separated by space: 2 3 4 4 5
Enter elements of the second list separated by space: 3 4 5 6 6
Common Elements: ['3', '5', '4']

Space & Time Complexity

Question: Sum of Squares
Write a Python program to find the sum of the squares of the first N natural numbers. Additionally, analyze the space and time complexity of your solution.

In [40]:
# Solution
def sum_of_squares(n):
    # Time complexity: O(n)
    # Space complexity: O(1)
    return sum(x**2 for x in range(1, n+1))

# Input: Get N from the user
N = int(input("Enter a positive integer (N): "))

# Output: Calculate and print the sum of squares
result = sum_of_squares(N)
print(f"Sum of squares of the first {N} natural numbers:", result)

Enter a positive integer (N): 44
Sum of squares of the first 44 natural numbers: 29370

Python Libraries

Introduction to Numpy

Question 1: NumPy Array Creation
Write a Python program that uses NumPy to create a 1D array of integers from 1 to 5.

In [41]:
# Solution 1
import numpy as np

# Create a 1D NumPy array
arr = np.array([1, 2, 3, 4, 5])

print("NumPy 1D Array:")
print(arr)

NumPy 1D Array:
[1 2 3 4 5]

Question 2: NumPy Array Operations
Write a Python program that uses NumPy to perform basic operations on two 1D arrays (addition, subtraction, multiplication, and division).

In [42]:
# Solution 2
import numpy as np

# Create two 1D NumPy arrays
arr1 = np.array([1, 2, 3, 4, 5])
arr2 = np.array([5, 4, 3, 2, 1])

# Perform array operations
sum_result = arr1 + arr2
difference_result = arr1 - arr2
product_result = arr1 * arr2
division_result = arr1 / arr2

print("Sum Result:", sum_result)
print("Difference Result:", difference_result)
print("Product Result:", product_result)
print("Division Result:", division_result)

Sum Result: [6 6 6 6 6]
Difference Result: [-4 -2  0  2  4]
Product Result: [5 8 9 8 5]
Division Result: [0.2 0.5 1.  2.  5. ]

Question 3: NumPy Matrix Multiplication
Write a Python program that uses NumPy to perform matrix multiplication of two 2D arrays.

In [43]:
# Solution 3
import numpy as np

# Create two 2D NumPy arrays
matrix1 = np.array([[1, 2], [3, 4]])
matrix2 = np.array([[5, 6], [7, 8]])

# Perform matrix multiplication
multiplication_result = np.dot(matrix1, matrix2)

print("Matrix Multiplication Result:")
print(multiplication_result)

Matrix Multiplication Result:
[[19 22]
 [43 50]]

Question 4: NumPy Random Numbers
Write a Python program that uses NumPy to generate an array of 5 random integers between 1 and 10.

In [44]:
# Solution 4
import numpy as np

# Generate random integers
random_integers = np.random.randint(1, 11, size=5)

print("Random Integers:")
print(random_integers)

Random Integers:
[10  9  4  7  8]

Question 5: NumPy Indexing and Slicing
Write a Python program that uses NumPy to demonstrate indexing and slicing of a 1D array.

In [45]:
# Solution 5
import numpy as np

# Create a 1D NumPy array
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

# Indexing and slicing
element_at_index_3 = arr[3]
sliced_array = arr[2:7]

print("Element at index 3:", element_at_index_3)
print("Sliced Array:", sliced_array)

Element at index 3: 3
Sliced Array: [2 3 4 5 6]

Numpy Operations

Question 1: Sum of Array Elements
Write a Python program that uses NumPy to calculate the sum of elements in a 1D array

In [46]:
# Solution 1
import numpy as np

# Create a 1D NumPy array
arr = np.array([1, 2, 3, 4, 5])

# Calculate the sum of array elements
sum_result = np.sum(arr)

print("Sum of Array Elements:", sum_result)

Sum of Array Elements: 15

Question 2: Mean and Standard Deviation
Write a Python program that uses NumPy to calculate the mean and standard deviation of elements in a 1D array.

In [47]:
# Solution 2
import numpy as np

# Create a 1D NumPy array
arr = np.array([1, 2, 3, 4, 5])

# Calculate mean and standard deviation
mean_result = np.mean(arr)
std_dev_result = np.std(arr)

print("Mean:", mean_result)
print("Standard Deviation:", std_dev_result)

Mean: 3.0
Standard Deviation: 1.4142135623730951

Question 3: Reshape and Transpose
Write a Python program that uses NumPy to reshape and transpose a 2D array.

In [48]:
# Solution 3
import numpy as np

# Create a 2D NumPy array
matrix = np.array([[1, 2, 3], [4, 5, 6]])

# Reshape and transpose the array
reshaped_array = matrix.reshape((3, 2))
transposed_array = matrix.T

print("Reshaped Array:")
print(reshaped_array)
print("Transposed Array:")
print(transposed_array)

Reshaped Array:
[[1 2]
 [3 4]
 [5 6]]
Transposed Array:
[[1 4]
 [2 5]
 [3 6]]

Question 4: Element-wise Operations
Write a Python program that uses NumPy to perform element-wise operations on a 1D array.

In [49]:
# Solution 4
import numpy as np

# Create a 1D NumPy array
arr = np.array([1, 2, 3, 4, 5])

# Perform element-wise operations
squared_array = np.square(arr)
sqrt_array = np.sqrt(arr)
log_array = np.log(arr)

print("Squared Array:", squared_array)
print("Square Root Array:", sqrt_array)
print("Logarithm Array:", log_array)

Squared Array: [ 1  4  9 16 25]
Square Root Array: [1.         1.41421356 1.73205081 2.         2.23606798]
Logarithm Array: [0.         0.69314718 1.09861229 1.38629436 1.60943791]

Question 5: Matrix Multiplication
Write a Python program that uses NumPy to perform matrix multiplication of two 2D arrays.

In [50]:
# Solution 5
import numpy as np

# Create two 2D NumPy arrays
matrix1 = np.array([[1, 2], [3, 4]])
matrix2 = np.array([[5, 6], [7, 8]])

# Perform matrix multiplication
multiplication_result = np.dot(matrix1, matrix2)

print("Matrix Multiplication Result:")
print(multiplication_result)

Matrix Multiplication Result:
[[19 22]
 [43 50]]

Introduction to Pandas

Question 1: Creating a DataFrame
Write a Python program that uses pandas to create a DataFrame from a dictionary.

In [51]:
# Solution 1
import pandas as pd

# Create a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

# Create a DataFrame
df = pd.DataFrame(data)

print("DataFrame:")
print(df)

DataFrame:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles

Question 2: Reading CSV File
Write a Python program that uses pandas to read a CSV file and display its content.

In [52]:
# Solution 2
import pandas as pd

# Read a CSV file into a DataFrame
df = pd.read_csv('example.csv')  # Replace 'example.csv' with the actual CSV file path

# Display the DataFrame
print("DataFrame from CSV:")
print(df)

FileNotFoundError: ignored

Question 3: DataFrame Operations
Write a Python program that uses pandas to perform basic operations on a DataFrame.

In [53]:
# Solution 3
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22],
        'City': ['New York', 'San Francisco', 'Los Angeles']}
df = pd.DataFrame(data)

# Display the DataFrame
print("Original DataFrame:")
print(df)

# Add a new column
df['Salary'] = [50000, 60000, 45000]

# Filter rows based on a condition
filtered_df = df[df['Age'] > 23]

print("\nDataFrame after Operations:")
print(df)
print("\nFiltered DataFrame:")
print(filtered_df)

Original DataFrame:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles

DataFrame after Operations:
      Name  Age           City  Salary
0    Alice   25       New York   50000
1      Bob   30  San Francisco   60000
2  Charlie   22    Los Angeles   45000

Filtered DataFrame:
    Name  Age           City  Salary
0  Alice   25       New York   50000
1    Bob   30  San Francisco   60000

Question 4: Groupby and Aggregation
Write a Python program that uses pandas to group data in a DataFrame and perform aggregation.

In [54]:
# Solution 4
import pandas as pd

# Create a DataFrame
data = {'Category': ['A', 'B', 'A', 'B', 'A'],
        'Value': [10, 20, 15, 25, 12]}
df = pd.DataFrame(data)

# Group by 'Category' and calculate the mean for each group
grouped_df = df.groupby('Category').mean()

print("Original DataFrame:")
print(df)
print("\nGrouped DataFrame:")
print(grouped_df)

Original DataFrame:
  Category  Value
0        A     10
1        B     20
2        A     15
3        B     25
4        A     12

Grouped DataFrame:
              Value
Category
A         12.333333
B         22.500000

Question 5: Handling Missing Data
Write a Python program that uses pandas to handle missing data in a DataFrame.

In [55]:
# Solution 5
import pandas as pd

# Create a DataFrame with missing data
data = {'Name': ['Alice', 'Bob', 'Charlie', None],
        'Age': [25, None, 22, 30],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)

# Display the DataFrame with missing data
print("DataFrame with Missing Data:")
print(df)

# Drop rows with missing values
df_cleaned = df.dropna()

print("\nDataFrame after Handling Missing Data:")
print(df_cleaned)

DataFrame with Missing Data:
      Name   Age           City
0    Alice  25.0       New York
1      Bob   NaN  San Francisco
2  Charlie  22.0    Los Angeles
3     None  30.0        Chicago

DataFrame after Handling Missing Data:
      Name   Age         City
0    Alice  25.0     New York
2  Charlie  22.0  Los Angeles

Pandas Operations

Question 1: Filtering Data
Write a Python program that uses pandas to filter data based on a condition.

In [56]:
# Solution 1
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)

# Filter rows where Age is greater than 30
filtered_df = df[df['Age'] > 30]

print("Original DataFrame:")
print(df)
print("\nFiltered DataFrame:")
print(filtered_df)

Original DataFrame:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles
3    David   35        Chicago

Filtered DataFrame:
    Name  Age     City
3  David   35  Chicago

Question 2: Sorting Data
Write a Python program that uses pandas to sort a DataFrame by a specific column.

In [57]:
# Solution 2
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)

# Sort the DataFrame by Age in descending order
sorted_df = df.sort_values(by='Age', ascending=False)

print("Original DataFrame:")
print(df)
print("\nSorted DataFrame:")
print(sorted_df)

Original DataFrame:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles
3    David   35        Chicago

Sorted DataFrame:
      Name  Age           City
3    David   35        Chicago
1      Bob   30  San Francisco
0    Alice   25       New York
2  Charlie   22    Los Angeles

Question 3: Groupby and Aggregation
Write a Python program that uses pandas to group data in a DataFrame and perform aggregation.

In [58]:
# Solution 3
import pandas as pd

# Create a DataFrame
data = {'Category': ['A', 'B', 'A', 'B', 'A'],
        'Value': [10, 20, 15, 25, 12]}
df = pd.DataFrame(data)

# Group by 'Category' and calculate the sum and mean for each group
grouped_df = df.groupby('Category').agg({'Value': ['sum', 'mean']})

print("Original DataFrame:")
print(df)
print("\nGrouped DataFrame:")
print(grouped_df)

Original DataFrame:
  Category  Value
0        A     10
1        B     20
2        A     15
3        B     25
4        A     12

Grouped DataFrame:
         Value
           sum       mean
Category
A           37  12.333333
B           45  22.500000

Question 4: Handling Missing Data
Write a Python program that uses pandas to handle missing data in a DataFrame.

In [59]:
# Solution 4
import pandas as pd

# Create a DataFrame with missing data
data = {'Name': ['Alice', 'Bob', 'Charlie', None],
        'Age': [25, None, 22, 30],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)

# Display the DataFrame with missing data
print("DataFrame with Missing Data:")
print(df)

# Fill missing values with a default value (e.g., 0)
df_filled = df.fillna(0)

print("\nDataFrame after Handling Missing Data:")
print(df_filled)

DataFrame with Missing Data:
      Name   Age           City
0    Alice  25.0       New York
1      Bob   NaN  San Francisco
2  Charlie  22.0    Los Angeles
3     None  30.0        Chicago

DataFrame after Handling Missing Data:
      Name   Age           City
0    Alice  25.0       New York
1      Bob   0.0  San Francisco
2  Charlie  22.0    Los Angeles
3        0  30.0        Chicago

Question 5: Merging DataFrames
Write a Python program that uses pandas to merge two DataFrames based on a common column.

In [60]:
# Solution 5
import pandas as pd

# Create two DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Age': [25, 30, 22]})

# Merge DataFrames on the 'ID' column
merged_df = pd.merge(df1, df2, on='ID', how='inner')

print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)
print("\nMerged DataFrame:")
print(merged_df)

DataFrame 1:
   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie

DataFrame 2:
   ID  Age
0   2   25
1   3   30
2   4   22

Merged DataFrame:
   ID     Name  Age
0   2      Bob   25
1   3  Charlie   30